.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px;

}

p {
position: absolute;
color: #222;
font-family: 'Abril Fatface', cursive;
font-size: 100px;
  height: 3369;
  width: 1278;
  margin-top: 500px;
  margin-right: 400px;
  font-family: 'Abril Fatface';
}

ul{
    list-style-type:square;
}

.bekezdes {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(78, 77, 77);
    margin-top: 30px;
}

div.idezet{
    display: flex;
    position: relative;
    padding: 0;
    padding-bottom: 5px;
    height: 150px;
}

.idezet {
    background-color: #222;
    color: white;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    padding: 40px;
    font-size: 40px;
    text-align: center;
}

.jel{
    margin: 0;
    padding-top: 2px;
    padding-left: 20px;
    font-size: 50px;
}

.szoveg {
    padding-top: 30px;
    padding-left: 10px;
}

h1 {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
}

main {
    margin-left: 250px;
    margin-right: 250px;
}

h2 {
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
    font-style: italic;
}
